<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 : Add Date</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center">Pre-workshop Setup</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td rowspan="4" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/statistical-thinking-public-health/">Statistical thinking for public health</a></td>        <!-- content -->
        <td>Estimating the mean, variance and standard deviation</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>Estimating the variation around the mean</td>        
      </tr>
      <tr>               <!-- row 5   -->
        <td>Visualising and quantifying linear associations</td>        
      </tr>
      <tr>               <!-- row 6   -->
        <td>Predicting means using linear associations</td>        
      </tr>
      <tr>               <!-- row 7   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Morning</td>        <!-- time    -->
        <td>11:30 - 11:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 : Add Date</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="4" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/simple-linear-regression-public-health/">Simple linear regression for public health</a></td>        <!-- content -->
        <td>An introduction to linear regression</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Linear regression with one continuous explanatory variable</td>       <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Linear regression with a two-level factor explanatory variable</td>       <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Making predictions from a simple linear regression model</td>       <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Morning</td>        <!-- time    -->
        <td>11:30 - 11:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 : Add Date</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="2" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/simple-linear-regression-public-health/">Simple linear regression for public health</a></td>        <!-- content -->
        <td>Assessing simple linear regression model fit and assumptions</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Linear regression with a multi-level factor explanatory variable</td>       <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Morning</td>        <!-- time    -->
        <td>11:30 - 11:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 : Add Date</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="2" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/multiple-linear-regression-public-health/">Multiple linear regression for public health</a></td>        <!-- content -->
        <td>Linear regression with one continuous and one categorical explanatory variable</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Linear regression including an interaction between one continuous and one categorical explanatory variable</td>       <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Morning</td>        <!-- time    -->
        <td>11:30 - 11:45</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
